body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Georgia', serif;
    background: url('old-letter-clipart-royal-257628-4595167_preview_rev_1.png') no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content {
    background-color: transparent; /* Usunięcie jasnego tła */
    text-align: center;
    color: #3e2723;
    padding: 50px;
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
    box-shadow: none; /* Usunięcie cienia */
    margin-top: 50px; /* Odstęp od góry */
    margin-bottom: 10px; /* Odstęp od dołu */
}


h1 {
    font-size: 1.6em; /* Zmniejszony rozmiar tekstu */
    margin-bottom: 3px; /* Mniejszy odstęp */
    font-family: 'Papyrus', serif;
    color: #7f5539;
    letter-spacing: 2px;
}

#menuScroll {
    font-size: 0.96em; /* Zmniejszony rozmiar tekstu */
    line-height: 1; /* Mniejsze odstępy między liniami */
}

.menu-item {
    margin-bottom: 1px;
}
