/* Ogólne ustawienia stylu */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Georgia', serif;
    background: url('old-letter-clipart-royal-257628-4595167_preview_rev_1.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content {
    text-align: center;
    color: #3e2723;  /* Brązowy kolor tekstu */
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
    font-family: 'Papyrus', serif; /* Stylowy tytuł */
    color: #7f5539; /* Dopasowanie koloru do zwoju */
    letter-spacing: 2px;
}

/* Stylizacja dla menu */
#menuScroll {
    font-size: 1.5em;
    line-height: 1.8;
}

.menu-item {
    margin-bottom: 20px;
}

/* Usuwamy linie oddzielające */
.menu-item hr {
    border: none;
    margin: 0;
}
